.btn {
  display: inline-flex;
  padding: 14px 20px;

  font-weight: 600;
  font-family: inherit;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  justify-content: center;

  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
